@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.project {
  background-color: #cacaca;
}

.page {
  max-width: 1440px;
  min-width: 834px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  position: relative;
}

.link {
  cursor: pointer;
}

.main {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 14px 120px;
  align-items: center;
  z-index: 4;
  position: relative;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    padding: 40px 30px 40px;
  }
}

.header__links {
  display: flex;
  gap: 129px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1180px) {
  .header__links {
    gap: 50px;
  }
}

@media (max-width: 1000px) {
  .header__links {
    display: none;
  }
}

.header__links-item {
  text-decoration: none;
  color: #00327d;
  font-family: "Avenir";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header__contacts {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .header__contacts {
    display: none;
  }
}

.header__contacts-item {
  border-radius: 20px;
  width: 166px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__contacts-item:first-child {
  background-color: #f7a81a;
}

.header__contacts-item:last-child {
  background-color: #006ab5;
}

.header__contacts-link {
  text-decoration: none;
  color: #fff;
  font-family: "Avenir";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__contacts-link:hover {
  text-decoration: underline;
}

.header__burger {
  display: none;
}

@media (max-width: 1000px) {
  .header__burger {
    display: flex;
    width: 50px;
    height: 50px;
    border: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3e%3cpath d='M10.417 14.5834H39.5837' stroke='%2300327D' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M10.417 25H39.5837' stroke='%2300327D' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M10.417 35.4166H39.5837' stroke='%2300327D' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e");
    background-color: #99ccf9;
    cursor: pointer;
    padding: 0;
    margin-right: 30px;
  }
}

.navigation {
  width: 100%;
  height: 76px;
  position: absolute;

  z-index: 2;
  top: 0;
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .navigation {
    display: none;
  }
}

.navigation__links {
  width: 100%;

  display: flex;
  justify-content: space-between;

  gap: 70px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__links-item {
  color: #fff;
  font-family: "Avenir";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.navigation__links li:nth-child(1) a:hover {
  color: #e14591;
}

.navigation__links li:nth-child(2) a:hover {
  color: #65257f;
}

.navigation__links li:nth-child(3) a:hover {
  color: #f7a819;
}

.navigation__links li:nth-child(4) a:hover {
  color: #e14591;
}

.navigation__links li:nth-child(5) a:hover {
  color: #f7a81a;
}

.promo {
  background: #a7d0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}



.promo__picture {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: auto;
  background: #a7d0f6;
  z-index: 1;
}

@media (max-width: 1000px) {
  .promo__picture {
    display: none;
  }
}

.promo__picture-lowres {
  display: none;
}

@media (max-width: 1000px) {
  .promo__picture-lowres {
    display: flex;
    position: absolute;
    left: 0;
    top: -135px;
    width: 100%;
    height: auto;
    background: #a7d0f6;
    z-index: 1;
  }
}

.promo__title {
  color: #00327d;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  z-index: 1;
  max-width: 900px;
  padding: 199px 0 40px;
  margin: 0;
}

@media (max-width: 1000px) {
  .promo__title {
    font-size: 40px;
    max-width: 770px;
    padding: 40px 0 40px;
  }
}

.promo__place {
  color: #00327d;
  text-align: center;
  font-family: "Avenir";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
  margin: 0 0 40px;
}

@media (max-width: 1000px) {
  .promo__place {
    color: #fff;

    font-size: 19px;

    font-weight: 800;

    margin-bottom: 70px;
  }
}

.promo__button {
  all: unset;
  border-radius: 25px;
  background: #f7a81a;
  z-index: 1;
  width: 264px;
  height: 55px;
  transition: transform 0.2s;
  color: #fff;
  text-align: center;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}

.promo__button:hover {
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .promo__button {
    display: none;
  }
}

.promo__contacts {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

@media (min-width: 1001px) {
  .promo__contacts {
    display: none;
  }
}

.promo__contacts-item {
  border-radius: 20px;
  width: 328px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__contacts-item:first-child {
  background-color: #f7a81a;
}

.promo__contacts-item:last-child {
  background-color: none;
  border: 2px solid #FFF;
}



.promo__contacts-link {
  color: #fff;
  text-align: center;
  font-family: "Avenir";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}


.promo__contacts-link:hover {
  text-decoration: underline;
}

.parts {
  position: relative;
  margin: 350px 121px 120px;
  z-index: 5;
}

@media (max-width: 1200px) {
  .parts {
    margin: 180px 80px;
  }
}

@media (max-width: 1000px) {
  .parts {
    margin: 280px 50px;
  }
}

.parts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.parts__title {
  color: #00327d;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
  margin: 0;
  min-width: 700px;
}

.parts__description {
  color: #00327d;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.parts__picture-wrapper {
  display: flex;
  margin-top: 75px;
  gap: 61px;
  position: relative;
}

@media (max-width: 1000px) {
  .parts__picture-wrapper {
    display: none;
  }
}

@media (min-width: 1001px) {
  .parts__picture-wrapper-lowres {
    display: none;
  }
}

@media (max-width: 1000px) {
  .parts__picture-wrapper-lowres {
    display: flex;
    padding: 40px 60px 0;
    justify-content: center;
  }
}

.parts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parts__list-item {
  display: flex;
  gap: 66px;
}

.parts__list-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.parts__texts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.parts__subtitle-lowres {
  color: #00327d;
  font-family: "Rounds Black";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.parts__subdescription-lowres {
  color: #00327d;
  font-family: "Avenir";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.parts__pictures {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parts__picture {
  height: 904px;
  width: 489px;
}

.parts__texts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.parts__subtitle {
  color: #00327d;
  font-family: "Rounds Black";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  transition: font-size 0.5s ease-in-out;
  max-width: fit-content;
}

.parts__subdescription {
  color: #00327d;
  font-family: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.parts__texts li {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.parts__picture-item {
  display: none;
}

.parts__picture-item:first-child {
  display: block;
}

.parts__subtitle:hover {
  color: #e14591;
  font-size: 30px;
  cursor: pointer;
}

.parts__arrows-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 340px;
  visibility: hidden;
}

.parts__arrows-item:nth-child(1) {
  visibility: visible;
}

.parts__arrows-item:nth-child(2) {
  position: absolute;
  top: 185px;
  left: 70px;
}

.parts__arrows-item:nth-child(3) {
  position: absolute;
  top: 370px;
  left: 70px;
}

.parts__arrows-item:nth-child(4) {
  position: absolute;
  top: 585px;
  left: 35px;
}

.parts__arrows-item:nth-child(5) {
  position: absolute;
  top: 690px;
  left: 40px;
}

.footer {
  background-color: #006ab5;
  display: flex;
  flex-direction: column;
  padding: 109px 0 107.5px;
  align-items: center;
}

@media (max-width: 1000px) {
  .footer {
    padding: 50px 0;
  }
}

.footer__title {
  color: #fff;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0 0 51px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0 0 55.5px;
}

@media (max-width: 1000px) {
  .footer__list {
    flex-direction: column;
  }
}

.footer__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}

.footer__text {
  color: #fff;
  text-align: center;
  font-family: "Avenir";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__subtitle {
  color: #f7a819;
  text-align: center;
  font-family: "Rounds Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__form {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 0 auto;
}

.footer__form-title {
  color: #fff;
  text-align: center;
  font-family: "Avenir";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 45px;
}

.footer__form-input {
  color: #00327d;
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 40px;
  display: flex;
  width: 716px;
  padding: 15px 0 14px 35px;
  align-items: center;
  border-radius: 25px;
  background: #fff;
}

.footer__form-input::placeholder {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__form-checkbox-area {
  align-self: flex-start;
}

.footer__form-checkbox-label {
  color: #fff;
  font-family: "Avenir";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.footer__form-checkbox-link {
  color: #fff;
  font-family: "Avenir";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-decoration-line: underline;
}

.footer__form-button {
  all: unset;
  border-radius: 25px;
  background: #f7a81a;
  display: flex;
  padding: 14px 42px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  max-width: 274px;
  transition: transform 0.2s;
  cursor: pointer;
}

.footer__form-button:hover {
  transform: scale(1.1);
}

.footer__form-checkbox-area {
  margin: 5px 0 70px;
  display: flex;
  gap: 20px;
  position: relative;
}

.footer__form-checkbox-label-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__form-checkbox + label {
  display: flex;
}

.footer__form-checkbox + label::before {
  content: "";
  width: 25px;
  height: 25px;
  outline: 1px solid gray;
  border-radius: 5px;
  margin-right: 20px;
  background-position: center center;
  background-size: 130% 130%;
}

.footer__form-checkbox:checked + label::before {
  outline: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3e%3cpath d='M5.5 4.25H25.5C25.8315 4.25 26.1495 4.3817 26.3839 4.61612C26.6183 4.85054 26.75 5.16848 26.75 5.5V25.5C26.75 25.8315 26.6183 26.1495 26.3839 26.3839C26.1495 26.6183 25.8315 26.75 25.5 26.75H5.5C5.16848 26.75 4.85054 26.6183 4.61612 26.3839C4.3817 26.1495 4.25 25.8315 4.25 25.5V5.5C4.25 5.16848 4.3817 4.85054 4.61612 4.61612C4.85054 4.3817 5.16848 4.25 5.5 4.25ZM14.2537 20.5L23.0912 11.6613L21.325 9.89375L14.2537 16.965L10.7175 13.4288L8.95 15.1962L14.2537 20.5Z' fill='white'/%3e%3c/svg%3e");
}

.footer__form-option {
  color: #00327d;
  font-family: "Avenir";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__form-input_select {
  padding: 15px 0 14px 35px;
  width: 755px;
  cursor: pointer;
}

select:required:invalid {
  color: rgba(0, 50, 125, 0.3);
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__form-input_select {
  color: #00327d;
  font-family: "Avenir";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 40px;
  display: flex;
  width: 716px;
  padding: 15px 0 14px 35px;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  width: 100%;
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;

  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31' viewBox='0 0 30 31' fill='none'%3e%3cpath d='M14.1808 20.5797L7.79199 11.4528C7.14247 10.525 7.80629 9.25 8.93892 9.25L21.0611 9.25C22.1937 9.25 22.8575 10.525 22.208 11.4528L15.8192 20.5797C15.4211 21.1484 14.5789 21.1484 14.1808 20.5797Z' fill='%2300327D'/%3e%3c/svg%3e"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
}

.hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.58);
  backdrop-filter: blur(2px);
  z-index: 1;
  justify-content: flex-end;
}

.sidebar__nav {
  background: #00327d;
  height: 722px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.sidebar__link {
  color: #fff;
  font-family: "Avenir";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.sidebar__close {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3e%3cpath d='M30 10L10 30' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10 10L30 30' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}
